/*FONT*/
@import url(http://fonts.googleapis.com/css?family=Pacifico|Open+Sans|Montserrat);

body, html {
  width: 100%;
  background-color: black;
}

.calculator {
  width: 300px;
  height: 400px;
  background-color: pink;
  margin: 0 auto;
  text-align: center;
}
.calculator p#title {
  font-size: 30px;
  padding-top: 10px;
  margin-bottom: -10px;
  color: #ff8da1;
  font-family: 'Pacifico';
}
.calculator p#tagline {
  text-transform: uppercase;
  color: white;
  font-family: 'Open Sans';
  font-size: .9em;
}
.calculator input[type='text'] {
  background-color: white;
  border: 1px solid white;
  line-height: 50px;
  width: 85%;
  font-size: 30px;
  direction: left;
  font-family: 'Montserrat';
  padding-right: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.calculator input[type='text']:focus {
  outline: none;
}

/*ROWS*/
.calculator .row {
  display: block;
}
.calculator .row input {
  width: 55px;
  height: 37px;
  border: 1px solid black;
  border-top: 2px solid #333333;
  background-image: -webkit-linear-gradient( top , black, black);
  background-image: linear-gradient(to bottom, black, black);
  color: white;
  font-size: 1.1em;
  border-radius: 20%;
  border-top-left-radius: 80% 10px;
  border-top-right-radius: 80% 10px;
  border-bottom-left-radius: 100% 10px;
  border-bottom-right-radius: 100% 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 8px;
}
.calculator .row .long {
  width: 123px;
  float: left;
  margin-right: -2px;
  margin-left: 20px;
}
